* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 35%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 20px;
}

td {
    width: 45px;
    height: 25px;
    border: 1px solid black;
}

button {
    width: 300px;
    font-size: 20px;
    margin: 50px 0;
}